@charset "UTF-8";
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: local("../fonts/Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI.eot");
  src: local("../fonts/Segoe UI"), local("SegoeUI"), url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI-Bold.eot");
  src: local("../fonts/Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
label {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

a, a:hover, .button, .button:hover, .rates-block, .rates-block p, .rates-block p.caption, .rates-block p.price, .rates-block .values .icon svg path, .rates-block .values .text strong, .rates-block .values .text p, .rates-block .button, .rates-block:hover, .rates-block:hover p, .rates-block:hover p.caption, .rates-block:hover p.price, .rates-block:hover .values .icon svg path, .rates-block:hover .values .text strong, .rates-block:hover .values .text p, .rates-block:hover .button, .equipment-slider .swiper-slide, .equipment-slider .swiper-slide:hover, .swiper-button-prev, .swiper-button-prev:hover, .swiper-button-next, .swiper-button-next:hover, #button, #button:active, #button:hover, .page-link, .page-link svg path, .page-link:hover, .page-link:hover svg path, .page-link-active, .page-link-active svg path, .inside-block__tv .rates-block p.more svg path, .inside-block__tv .rates-block:hover svg path {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

html {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  background: #fff;
  font-weight: normal;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0 0 20px;
  font-size: 1em;
}

a {
  font-size: 1em;
}

ol {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

ul {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  line-height: 1.2;
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
  font-weight: 600;
  position: relative;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.1em;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

a:focus {
  outline: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline: none;
}

p {
  font-size: 1em;
  line-height: 1.2;
}

.indent-block__full {
  margin: 60px 0;
}

.indent-block__top {
  margin: 60px 0 0 0;
}

.indent-block__bottom {
  margin: 0 0 60px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-vertically__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-vertically__bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-vertically__top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-horizontally__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-horizontally__full {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-horizontally__end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  padding: 11px 30px 13px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.button-orange {
  color: #ffff;
  border: 1px solid #F07E00;
  background: #F07E00;
}

.button-orange:hover {
  background: #F07E00;
  color: #ffff;
  border: 1px solid #F07E00;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.button-white {
  border: 1px solid #F07E00;
  color: #000000;
  background: #fff;
}

.button-white:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: #000000;
  border: 1px solid #F07E00;
}

.header-top {
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  padding: 15px 0;
}

.header-top p {
  font-weight: 600;
  margin: 0;
}

.header-top svg {
  margin: 0 10px 0 0;
}

.header-top__right_item {
  margin: 0 0 0 30px;
}

.header-top__right_item a.phone {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.header-top__right_item a.phone:hover {
  color: #F07E00;
  text-decoration: none;
}

.header-top__right_item a.callback {
  color: #000000;
  text-decoration: none;
}

.header-top__right_item a.callback:hover {
  color: #F07E00;
  text-decoration: none;
}

.header-top__right_item a.personal-area {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.header-top__right_item a.personal-area:hover {
  color: #F07E00;
  text-decoration: none;
}

.header-bottom {
  width: 100%;
  padding: 10px 0;
}

.header-bottom__menu {
  margin: 0 0 0 30px;
}

.catalog-menu__item {
  display: block;
  margin: 0 0 0 30px;
}

.catalog-menu__link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 1em;
}

.catalog-menu__link:hover {
  color: #E4002B;
  text-decoration: none;
}

.banner {
  background: #F4F6F8;
  border-radius: 10px;
}

.banner-text {
  max-width: 450px;
  margin: 0 -100px 0 0;
}

.banner-text p {
  font-size: 1em;
  line-height: 1.4;
  color: #000000;
  margin: 0 0 30px 0;
  max-width: 350px;
}

.banner-text p.caption {
  margin: 0 0 15px 0;
  max-width: 100%;
  font-size: 2.6em;
  line-height: 1.2;
}

.banner-image {
  position: relative;
}

.banner-image__block {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 175px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px 0 10px 10px;
  padding: 20px 25px;
  z-index: 1;
}

.banner-image__block .image {
  width: 24px;
  height: 24px;
  background: #F00600;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0;
}

.banner-image__block .text p {
  font-size: 1em;
  color: #959595;
  margin: 3px 0 5px 0;
  font-weight: 600;
}

.banner-image__block .text strong {
  color: #000000;
  display: block;
  font-weight: bold;
}

.rates-switches {
  margin: 0 0 20px 0;
}

.rates-switches__item {
  margin: 0 20px 0 0;
  background: #FFEFDC;
  padding: 5px;
  border-radius: 6px;
}

.rates-switches__item_text {
  padding: 11px 15px;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  color: #B88247;
}

.rates-switches__item_text.active {
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.rates-block {
  display: block;
  padding: 30px 50px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-decoration: none;
}

.rates-block p {
  font-size: 1em;
  line-height: 1.4;
  color: #959595;
  margin: 0 0 15px 0;
}

.rates-block p.caption {
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
}

.rates-block p.price {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #EBEBEB;
  color: #000000;
}

.rates-block p.price strong {
  font-size: 1.8em;
  font-weight: bold;
  display: inline-block;
  margin: 0 5px 0 0;
}

.rates-block .values {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rates-block .values .icon {
  margin: 0 20px 0 0;
}

.rates-block .values .icon svg path {
  fill: #000000;
}

.rates-block .values .text strong {
  color: #959595;
  display: block;
  margin: 0 0 5px 0;
  font-weight: normal;
}

.rates-block .values .text p {
  font-size: 1em;
  line-height: 1.4;
  color: #000000;
  font-weight: 600;
  margin: 0;
}

.rates-block .button {
  width: 100%;
  margin: 0;
}

.rates-block:hover {
  background: #F07E00;
}

.rates-block:hover p {
  color: #fff;
}

.rates-block:hover p.caption {
  color: #fff;
}

.rates-block:hover p.price {
  border-color: #F8B468;
}

.rates-block:hover .values .icon svg path {
  fill: #fff;
}

.rates-block:hover .values .text strong {
  color: #fff;
}

.rates-block:hover .values .text p {
  color: #fff;
}

.rates-block:hover .button {
  color: #000000;
}

.nav-tabs {
  border-bottom: 0px;
}

.hidden-block {
  display: none !important;
}

.show-block {
  display: block !important;
}

.odds-block {
  background: #F4F6F8;
  padding: 60px 0;
}

.odds-block__item {
  padding: 40px 35px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.odds-block__item p {
  font-size: 13px;
  line-height: 1.4;
  color: #959595;
  margin: 0;
}

.odds-block__item strong {
  color: #000000;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.4;
  display: block;
  margin: 20px 0 10px;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
      grid-template-areas: "item-1 item-1 item-1 item-3 item-3 item-3 item-4 item-4" "item-2 item-2 item-2 item-3 item-3 item-3 item-5 item-5";
}

.item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item-1;
}

.item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: item-3;
}

.item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item-2;
}

.item-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: item-4;
}

.item-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: item-5;
}

.form-block {
  border: 1xp solid #EBEBEB;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.form-block__image {
  margin: -30px 0 0 0;
}

.form-block__text {
  padding: 50px;
}

.form-block__text h2 {
  margin: 0 0 15px 0;
}

.form-block__text p {
  color: #959595;
  font-size: 1em;
  line-height: 1.4;
  margin: 0 0 25px 0;
}

.form-block__text form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block__text .form-control {
  margin: 0 30px 0 0;
}

.form-control {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #D5D5D5;
  max-width: 290px;
  color: #000000;
  font-size: 1em;
  line-height: 1.4;
  padding: 10px 0;
  border-radius: 0;
}

.form-control:focus {
  border: 0;
  border-bottom: 1px solid #D5D5D5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.equipment-content {
  margin: 0 -15px;
  position: relative;
}

.equipment-slider {
  padding: 0 15px;
  margin: 15px 0 0;
}

.equipment-slider .swiper-slide {
  padding: 25px;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
  margin: 15px 0 30px 0;
  border-radius: 10px;
}

.equipment-slider .swiper-slide:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.equipment-slider .swiper-slide .image {
  max-height: 160px;
  min-height: 160px;
  text-align: center;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equipment-slider .swiper-slide .image img {
  max-height: 160px;
  max-width: 100%;
  display: inline-block;
}

.equipment-slider .swiper-slide .text p {
  font-size: 14px;
  line-height: 19px;
  color: #959595;
  margin: 0 0 10px 0;
}

.equipment-slider .swiper-slide .text p.values {
  color: #000000;
  margin: 10px 0;
}

.equipment-slider .swiper-slide .text p.values strong {
  font-weight: 600;
}

.equipment-slider .swiper-slide .text p.price {
  font-weight: 600;
  margin: 15px 0 5px 0;
  color: #000;
}

.equipment-slider .swiper-slide .text p.price strong {
  font-size: 2em;
  display: inline-block;
  margin: 0 5px 0 0;
}

.equipment-slider .swiper-slide .text p.rent {
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipment-slider .swiper-slide .text p.rent svg {
  margin: 0 0 0 10px;
}

.equipment-slider .swiper-slide .text a.link {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.equipment-slider .swiper-slide .text a.link:hover {
  color: #F07E00;
  text-decoration: none;
}

.equipment-slider .swiper-slide .text .button {
  width: 100%;
}

.equipment-slider .swiper-slide .text .button:hover {
  background: #F07E00;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-button-prev {
  width: 15px;
  height: 30px;
  background: url(../images/arrow.svg) center center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -35px;
  opacity: 0.3;
}

.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next {
  width: 15px;
  height: 30px;
  background: url(../images/arrow.svg) center center no-repeat;
  right: -35px;
  opacity: 0.3;
}

.swiper-button-next:hover {
  opacity: 1;
}

.block-caption {
  margin: 0 0 30px 0;
}

.block-caption h2 {
  margin: 0;
}

.block-caption__link {
  font-size: 1em;
  color: #959595;
  text-decoration: none;
}

.block-caption__link:hover {
  text-decoration: none;
  color: #F07E00;
}

.news-block {
  margin: 0 0 20px 0;
}

.news-block__image {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.news-block__image img {
  width: 100%;
  border-radius: 10px;
}

.news-block__text {
  padding: 20px 20px 0;
}

.news-block__text_link {
  font-size: 1.2em;
  line-height: 1.8;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.news-block__text_link:hover {
  text-decoration: none;
  color: #F07E00;
}

.news-block__text p {
  font-size: 14px;
  line-height: 1.4;
  color: #959595;
  margin: 10px 0 0 0;
}

.footer {
  background: #F4F6F8;
  padding: 60px 0;
}

.footer-block .logo {
  margin: 0 0 20px 0;
}

.footer-block a.phone {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.footer-block a.phone:hover {
  text-decoration: none;
  color: #F07E00;
}

.footer-block p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
}

.footer-block__menu {
  display: block;
}

.footer-block__menu_item {
  display: block;
  margin: 0 0 15px 0;
}

.footer-block__menu_link {
  color: #919598;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
}

.footer-block__menu_link-active {
  text-decoration: none;
  color: #F07E00;
}

.footer-block__menu_link:hover {
  text-decoration: none;
  color: #F07E00;
}

#button {
  display: block;
  background: url(../images/up-button.svg) 0 0 no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  opacity: 0.5;
}

#button:active {
  opacity: 1;
}

#button.show {
  opacity: 0.5;
  visibility: visible;
}

#button:hover {
  cursor: pointer;
  opacity: 1;
}

.breadcrumb {
  margin: 10px 0 25px 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.breadcrumb-item {
  margin: 0 20px 0 0;
  padding: 0;
}

.breadcrumb-item a {
  font-size: 13px;
  line-height: 17px;
  color: #959595;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: none;
  color: #000;
}

.breadcrumb-item.active {
  font-size: 13px;
  line-height: 17px;
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
  content: "";
}

.inside-block h1 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 2.2em;
}

.inside-block__caption {
  background: #F4F6F8;
  border-radius: 10px;
}

.inside-block__caption .text {
  padding: 50px 0 50px 80px;
}

.inside-block__caption .text strong {
  font-weight: 600;
  font-size: 26px;
}

.inside-block__caption .text p {
  font-size: 1em;
  line-height: 20px;
  margin: 10px  0 0;
  color: #000;
}

.inside-block__caption .image {
  margin: -50px 100px 0;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.1 !important;
}

.services-slider {
  margin: 0;
}

.services-slider .swiper-slide {
  margin: 0;
}

.services-slider .swiper-slide .image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #FFEFDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 25px 0;
}

.services-slider .swiper-slide .text a.link {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.services-slider .swiper-slide .text a.link:hover {
  text-decoration: none;
  color: #F07E00;
}

.services-slider .swiper-slide .text p {
  font-size: 13.5px;
  line-height: 1.4;
  color: #959595;
  margin: 10px 0 20px;
}

.services-slider .swiper-slide .text a.orange {
  color: #F07E00;
  font-size: 1em;
  line-height: 1.4;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px 0;
}

.services-slider .swiper-slide .text a.orange:hover {
  color: #F07E00;
  text-decoration: underline;
}

.services-slider .swiper-slide .text .button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #F07E00;
  color: #fff;
}

.inside-block__apartment .rates-block {
  padding: 30px;
}

.geography {
  padding: 60px 0;
  background: #F4F6F8;
}

.geography-content {
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  margin: 30px 0 0;
}

.geography h2 {
  margin: 0 0 15px 0;
}

.geography p {
  font-size: 1em;
  line-height: 1.4;
  color: #000;
  font-weight: 600;
  margin: 50px 0 15px 0;
}

.geography p:first-child {
  margin: 0 0 15px 0;
}

.geography p.note {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.geography-list {
  display: block;
}

.geography-list__item {
  margin: 0 0 15px 0;
  display: block;
}

.geography-list__link {
  color: #959595;
  font-size: 1em;
  line-height: 1.4;
  text-decoration: none;
}

.geography-list__link:hover {
  color: #F07E00;
  text-decoration: none;
}

.three-column {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.two-column {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.form-block__text_indent {
  padding: 50px 0 50px 40px;
}

.inside-block .news-block {
  margin: 0 0 30px 0;
}

.pagination {
  margin: 40px 0 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-item {
  margin: 0 7px 0 0;
}

.page-link {
  background: #F4F6F8;
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  border: 0;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px !important;
}

.page-link svg path {
  fill: #000;
}

.page-link:hover {
  background: #F07E00;
  color: #fff;
}

.page-link:hover svg path {
  fill: #fff;
}

.page-link-active {
  background: #F07E00;
  color: #fff;
}

.page-link-active svg path {
  fill: #fff;
}

.inside-block__text p {
  font-size: 1em;
  line-height: 1.4;
  color: #959595;
  margin: 0;
}

a.download {
  color: #F07E00;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
}

a.download svg {
  margin: 0 10px 0 0;
}

a.download:hover {
  color: #F07E00;
  text-decoration: underline;
}

.table-block {
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.table-block table {
  width: 100%;
}

.table-block table td {
  width: 33%;
  font-size: 1em;
  line-height: 1.4;
  color: #000000;
  padding: 15px 10px;
}

.table-block table td:first-child {
  padding: 15px 10px 15px 0;
}

.table-block table tr {
  border-bottom: 1px solid #EBEBEB;
}

.table-block table tr:first-child {
  border-bottom: 2px solid #000000;
}

.table-block table tr:first-child td {
  font-weight: 600;
}

.table-block table tr:last-child {
  border-bottom: 0;
}

.advantages-item {
  margin: 0 0 30px 0;
}

.advantages-item p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #000;
  font-weight: 600;
  margin: 20px 0 0 0;
  max-width: 240px;
}

.table-block__full td {
  width: 50%;
}

.table-block__full td:last-child {
  text-align: right;
}

.set {
  display: block;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #F4F6F8;
  border-radius: 20px;
}

.set h2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.set ol {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  counter-reset: num;
  display: block;
}

.set ol li {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  position: relative;
}

.set ol li:before {
  content: "0" counter(num) ".";
  /* Выводим число */
  counter-increment: num;
  /* Увеличиваем значение счётчика */
  color: #F07E00;
  position: absolute;
  top: 0;
  left: 0;
}

.inside-block__tv h2 {
  margin: 0 0 10px 0;
}

.inside-block__tv .rates-block {
  margin-top: 20px;
}

.inside-block__tv .rates-block p.more {
  margin: 5px 0 0 0;
  color: #F07E00;
  font-size: 1em;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inside-block__tv .rates-block p.more svg {
  margin: 0 0 0 10px;
}

.inside-block__tv .rates-block p.more svg path {
  fill: #f07e00;
}

.inside-block__tv .rates-block:hover svg path {
  fill: #fff !important;
}

.rates-block-white {
  margin: 0 0 20px 0;
}

.rates-block-white .button {
  color: #000;
}

.rates-block-white:hover {
  background: #fff;
}

.rates-block-white:hover p {
  color: #000;
}

.rates-block-white:hover p.caption {
  color: #000;
}

.rates-block-white:hover p.price {
  border-color: #EBEBEB;
}

.rates-block-white:hover .values .icon svg path {
  fill: #000 !important;
}

.rates-block-white:hover .values .text strong {
  color: #000;
}

.rates-block-white:hover .values .text p {
  color: #000;
}

.rates-block-white .button:hover {
  background: #F07E00;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rates-block-white .image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
  max-height: 150px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rates-block-white .image img {
  display: inline-block;
  max-width: 100%;
}

.rates-block-small .image {
  max-height: 120px;
  min-height: 120px;
  margin: 0 0 10px 0;
}

.rates-block-small p.price {
  border-bottom: 0;
  margin: 15px 0 20px;
  padding: 0;
}

.addv-block h2 {
  margin: 0 0 30px 0;
}

.addv-block .advantages-item p.note {
  margin: 10px 0 0 0;
  font-size: 13.5px;
  line-height: 20px;
  color: #959595;
  font-weight: normal;
}

.addv-block .advantages-item p {
  max-width: 100%;
}

.catalog-block h2 {
  margin: 0 0 30px 0;
}

.catalog-block__item {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 25px;
  background: #fff;
  border-radius: 15px;
  display: block;
  text-align: center;
}

.catalog-block__item:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.catalog-block__item p {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-align-last: left;
}

.catalog-block__item img {
  max-width: 100%;
}

.header-top__left {
  position: relative;
}

.city-block {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 30px 25px;
  z-index: 50;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  width: 250px;
  background: #fff;
}

.city-block p {
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 600;
}

.city-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-block__buttons .button {
  margin: 0 10px 0 0;
  padding: 8px 20px 9px;
}

.modal-content {
  border-radius: 15px;
}

.modal-header {
  border: 0;
  padding: 50px 50px 25px;
}

.close {
  opacity: 0.3;
  position: absolute;
  top: 15px;
  right: 20px;
}

.modal-title {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.modal-body {
  padding: 0 50px;
  border: 0;
}

.modal-body-geography p {
  font-weight: 600;
  margin: 50px 0 15px;
}

.modal-body-geography p:first-child {
  margin: 0 0 15px 0;
}

.modal-body-geography .geography-list__item {
  margin: 3px -15px;
}

.modal-body-geography .geography-list__link {
  padding: 5px 15px;
  color: #959595;
  background: transparent;
  display: block;
  border-radius: 7px;
}

.modal-body-geography .geography-list__link:hover {
  background: #FFEFDC;
  color: #F07E00;
}

.modal-body-geography .geography-list__link-active {
  background: #FFEFDC;
  color: #F07E00;
}

.modal-footer {
  border: 0;
  padding: 25px 50px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-footer p.info {
  border-top: 1px solid #D5D5D5;
  padding: 15px 0 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 600;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-footer p.info svg {
  margin: 0 10px 0 0;
}

.modal-footer p.info a.phone {
  color: #000;
  text-decoration: none;
}

.modal-footer p.info a.phone:hover {
  text-decoration: none;
  color: #F07E00;
}

.header__toggle {
  text-align: right;
  font-size: 0;
  height: 28px;
  position: initial;
  right: 30px;
  top: 14px;
  z-index: 3;
}

.header__toggle .menu-toggle-cont {
  display: inline-block;
}

.fixed-menu {
  display: none;
  background: #fff;
  position: fixed;
  top: 115px;
  right: 0;
  left: 0;
  margin: 0;
  z-index: 30;
  border-top: 1px solid #f1f1f1;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}

.fixed-menu p {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.header__toggle:after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#nav li {
  margin-right: 0px;
  display: block;
}

.menu-toggle {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  background-color: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.menu-toggle-cont {
  width: 20px;
  height: 17px;
  font-size: 0;
  cursor: pointer;
}

.menu-toggle-cont:after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.menu-toggle-cont_active .menu-toggle {
  height: 0;
}

.menu-toggle-cont_active .menu-toggle:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #F07E00;
}

.menu-toggle-cont_active .menu-toggle:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #F07E00;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  width: 100%;
}

.menu-toggle:before {
  -webkit-transform: translateY(-350%);
  transform: translateY(-350%);
}

.menu-toggle:after {
  -webkit-transform: translateY(350%);
  transform: translateY(350%);
}

.company-menu {
  display: block;
}

.company-menu__item {
  margin: 5px -15px;
  display: block;
}

.company-menu__link {
  padding: 5px 15px;
  color: #959595;
  background: transparent;
  display: block;
  border-radius: 7px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.company-menu__link:hover {
  background: #FFEFDC;
  color: #F07E00;
}

.company-menu__link-active {
  background: #FFEFDC;
  color: #F07E00;
}

body.hidd {
  overflow: hidden;
}

.catalog-menu__item {
  position: relative;
  padding: 15px 0;
}

.sub-menu {
  position: absolute;
  top: 45px;
  left: -30px;
  padding: 15px 30px;
  width: 240px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  z-index: 35;
  border-radius: 10px;
  display: none;
}

.sub-menu__item {
  margin: 15px 0;
  display: block;
}

.sub-menu__link {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.sub-menu__link:hover {
  text-decoration: none;
  color: #F07E00;
}

.catalog-menu__item:hover .sub-menu {
  display: block;
}

.catalog-menu__item:hover .catalog-menu__link {
  text-decoration: none;
  color: #F07E00;
}

.modal-body p {
  margin: 0 0 20px 0;
  color: #959595;
  font-size: 14px;
  line-height: 20px;
}

.modal-body .form-control {
  max-width: 100%;
}

.modal-body ::-webkit-input-placeholder {
  color: #000;
}

.modal-body ::-moz-placeholder {
  color: #000;
}

.modal-body :-moz-placeholder {
  color: #000;
}

.modal-body :-ms-input-placeholder {
  color: #000;
}

.modal-body img.capcha {
  margin: 30px 0 20px;
}

.modal-body p.note {
  color: #000000;
  margin: 0;
}

.modal-body p.note a {
  color: #000000;
  text-decoration: none;
}

.modal-body p.note a:hover {
  color: #000000;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */